
/* ----- Transparent Navbar (Only for Home) ----- */
.transparent-nav {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    backdrop-filter: none !important;
    -webkit-backdrop-filter: none !important;
}

body {
    background: url('../images/white-bg.jpg') no-repeat center center fixed !important; 
    background-size: cover !important;
    overflow: hidden;
    max-height: 100vh;
}

/* ----- Hero Section ----- */
.home-hero {
    min-height: 70vh; 
    display: flex;
    justify-content: center; 
    align-items: center;    
    padding: 0 5%;
}

.hero-content {
    max-width: 700px;
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-content h1 {
    font-size: 4.5rem;
    font-weight: 200;
    margin-bottom: 20px;
    letter-spacing: 1px;
    color: var(--text-main); 
}

.hero-content p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 50px;
    letter-spacing: 0.5px;
    color: var(--text-light); 
}






/* ----- Button & Icons ------ */

.hero-actions {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 30px;
}

.primary-btn {
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    padding: 10px 28px;
    border-radius: 30px;
    text-decoration: none;
    color: var(--accent-blue);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all 0.3s ease;
}

.primary-btn:hover {
    background: var(--accent-blue);
    color: white;
}

.hero-socials {
    display: flex;
    gap: 20px;
}

.hero-socials a {
    font-size: 1.5rem;
    color: var(--text-main);
    transition: color 0.3s ease, transform 0.3s ease;
}

.hero-socials a:hover {
    color: var(--accent-blue);
    transform: translateY(-3px);
}